#display-and-position {
    padding: 0 0.5rem;
    width: 100vw;
    left: 0;
    position: absolute;
    background-color: #fff5;
    box-sizing: border-box;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 0.5rem;


    &>section {
        border: none;
        margin: 0.5rem 0;
    }

    & #dummy2 {
        top: 0;
        background-color: rgba(0, 240, 255, 0.6);
    }

    & code {
        font-weight: bold;
        background-color: none;
    }

    & input {
        vertical-align: middle;
        height: 1lh;
    }

    & header {
        margin-bottom: 20px;
        display: flex;
    }




    & .inactive {
        opacity: 0.5;
        pointer-events: none;
    }



    & & .radio-group>label {
        display: block;
        min-width: 10ch;
    }

    & & p {
        margin: 1rem;
    }
}


#output {
    border: 2px outset;
    max-height: 80vh;
    padding: 0.5em;

    width: 50ch;
    overflow-y: scroll;
    background-color: #fff;
}

form {
    font-size: 1em;
    background-color: #ddd;

    padding: 0;
    margin-bottom: 0.5rem;
    /*     
    border-top: none;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black; */
    border: 2px outset;

    &>* {
        border-bottom: 2px outset;
    }

    &>h1 {
        font-weight: normal;
        color: #333;
        background-color: #ddd;
        font-size: 1em;
        vertical-align: middle;
        padding: 0.5rem;
        margin: 0;
        /* border-bottom: 2px solid black;
        border-top: 2px solid black; */
        border: none;
    }
}



.radio-group {
    /*   display: grid;
    grid-template-columns: repeat(auto-fit,1fr);
    grid-template rows: 1lh; */
    display: flex;
    justify-content: space-around;
    gap: 5px
}

label:has(input[type="range"]) {
    display: block;

    & input {
        height: 1lh;
        vertical-align: middle;
    }
}

fieldset {
    border: 2px inset
}

.demo-block {
    width: 100px;
    height: 100px;
    display: block;
    text-align: center;
    line-height: 100px;
    border: 1px solid #000;
}
.demo-block {
    background-color: rgba(255, 240, 0, 0.6);
}